name: Bygg og Deploy vis-stilling
on:
    push:
    workflow_dispatch:

jobs:
    build-and-deploy:
        name: Vis-Stilling NextJS
        uses: navikt/toi-github-actions-workflows/.github/workflows/build-and-deploy-nextjs.yaml@v8.3
        with:
            pnpm: true
            a11y: true
            deploy-to-dev-if-branch-name-is: 'formatering'
            dev-vars-path: '.nais/dev-gcp.json'
            prod-vars-path: '.nais/prod-gcp.json'
        secrets: inherit
        permissions:
            contents: write
            id-token: write
            security-events: write
            pages: write
