name: Bygg og Deploy vis-stilling
on:
    push:
    workflow_dispatch:

jobs:
    build-and-deploy:
        name: Vis-Stilling NextJS
        uses: navikt/toi-github-actions-workflows/.github/workflows/build-and-deploy-nextjs.yaml@v4
        with:
            pnpm: true
            deploy-to-dev-if-branch-name-is: 'nextjs'
        secrets: inherit
        permissions:
            contents: write
            id-token: write
            security-events: write
            pages: write
